# Scripts development

In this notebook I check that scripts that I develop for the workflow work as they should

<a name="sd_home"></a>

## Contents

0. [ Library and packages ](#sd_Lib)
1. [ Functions ](#sd_Fun)
    + 1. [Python Functions](#sd_Pyf)
    + 2. [R Functions](#sd_Rfu)

In [1]:
#import sys
import pandas as pd
#import numpy as np
#import tskit
#import msprime
#import pyslim
#import collections
#import simGL

#from rpy2.robjects import r, pandas2ri
#pandas2ri.activate()

#sys.path.append('../scripts/')

#from spacetime_templates import *

#%load_ext rpy2.ipython
#pandas2ri.activate()


[<img src="arrow.png" width="100" style="float: left;">](#sd_home) &nbsp;

&nbsp;

<a name="sd_Fun"></a>
## 1. Functions

[<img src="arrow.png" width="100" style="float: left;">](#sd_home) &nbsp;

&nbsp;

<a name="sd_1"></a>
## 2. Read csv table

In [9]:
%%bash

ls ../../files/experiments.csv

../../files/experiments.csv

In [13]:
experiments = pd.read_csv("../../files/experiments.csv", delimiter = ";")
experiments

,dat,exp,nam,met,siz,snp,pre,for,cov,err,nod,mem,que,tim
0,europe,1,downsample,1,15000,100,sNNt,ac,None,None,256,20g,False,1-08:00:00
1,europe,2,downsample,2,10000,100,sNNt,ac,None,None,256,8g,False,20.00.00
2,europe,3,downsample,3,5000,100,sNNt,ac,None,None,256,2g,False,08.00.00
3,europe,4,gold,4,1500,100,sNNt,ac,None,None,256,1g,False,03.00.00
4,europe,5,downsample,5,1000,100,sNNt,ac,None,None,256,1g,False,02.00.00
5,europe,6,downsample,6,500,100,sNNt,ac,None,None,256,1g,False,01.00.00
6,europe,7,downsample,7,250,100,sNNt,ac,None,None,256,1g,False,01.00.00
7,europe,8,sampling,8,None,100,sNNt,ac,None,None,256,1g,False,03.00.00
8,europe,9,snp_density,4,1500,75,sNNt,ac,None,None,256,1g,False,03.00.00
9,europe,10,snp_density,4,1500,50,sNNt,ac,None,None,256,1g,False,03.00.00
10,europe,11,snp_density,4,1500,25,sNNt,ac,None,None,256,1g,False,03.00.00
11,europe,12,snp_density,4,1500,10,sNNt,ac,None,None,256,1g,False,03.00.00
12,europe,13,prediction,4,1500,100,space,ac,None,None,256,1g,False,03.00.00
13,europe,14,prediction,4,1500,100,time,ac,None,None,256,1g,False,03.00.00
14,europe,15,gl,4,1500,100,sNNt,gl,5,00.05,256,1g,False,03.00.00
15,europe,16,gl,4,1500,100,sNNt,gl,15,00.05,256,1g,False,03.00.00
16,europe,17,gl,4,1500,100,sNNt,gl,30,00.05,256,1g,False,03.00.00
17,europe,18,n_nodes,4,1500,100,sNNt,ac,None,None,64,1g,False,03.00.00
18,europe,19,n_nodes,4,1500,100,sNNt,ac,None,None,128,1g,False,03.00.00
19,europe,20,n_nodes,4,1500,100,sNNt,ac,None,None,512,1g,False,08.00.00

In [11]:
len(experiments)

20

In [15]:
experiments["dat"]

'europe'

In [20]:
i = 0
workingdir  = "/home/moicoll/spaceNNtime/"
"{}data/{}/downsample/{}.txt".format(workingdir, experiments["dat"][i], experiments["met"][i])

'/home/moicoll/spaceNNtime/data/europe/downsample/1.txt'

In [22]:
experiments = pd.read_csv("../../data/europe/metadata.txt", delimiter = "\t")
experiments

       ind_id  pop  node_id   time  sampled        lat        lon
0          78  OOA        0  50959     True  31.545208  27.034295
1          78  OOA        1  50959     True  31.545208  27.034295
2          79  OOA        2  50957     True  31.632017  27.979614
3          79  OOA        3  50957     True  31.632017  27.979614
4          80  OOA        4  50948     True  29.728941  29.364483
...       ...  ...      ...    ...      ...        ...        ...
29995   45455  EUR    29995    510     True  21.327569  46.876249
29996   45456  EUR    29996    505     True  -1.635051  47.515774
29997   45456  EUR    29997    505     True  -1.635051  47.515774
29998   45457  EUR    29998    502     True  12.849096  46.513256
29999   45457  EUR    29999    502     True  12.849096  46.513256

[30000 rows x 7 columns]